<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Polling</title>
</head>
<body>
    <p>Status: <span class="status"></span></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        (function () {
            var status = $('.status'),
                poll = function () {
                    $.ajax({
                        url: 'status.json',
                        dataTypes: 'json',
                        type: 'get',
                        success: function (data) {
                            status.text('Offline');
                            if (data.live) {
                                status.text(data.info);
                                clearInterval(pollInterval);
                            }
                        },
                        error: function () {
                            console.log('Error');
                        }
                    });
                },
                pollInterval = setInterval(function (){
                    poll();
                }, 2000);
        })();
    </script>
</body>
</html>